<footer class="footer">
    <div class="footer-site-logo">
        <a href="/" class="logo-title">
            <img class="site-logo" src="/Assets/Images/JDLogoSpin.png" alt="James Dennis Logo">
            <p class="logo-text">james dennis</p> 
        </a>
    </div>
    <div class="contact-row">
        <div class="contact-box availability">
            <h3>Available:</h3>
            <p><span id="datetime"></span></p>
        </div>
        <div class="contact-box contact">
            <h3>Contact:</h3>
            <p><a href="mailto:james@jamesdennis.org">james@jamesdennis.org</a></p>
        </div>
        <div class="contact-box">
            <div class="socials">
                <a href="https://www.linkedin.com/in/james-dennis27/" id="linkedin" target="_blank"><img src="/Assets/Images/Icons/linkedin-in-brands-solid-full (1).svg" alt="linkedin profile" class="social-icon"></a>
                <a href="https://x.com/JamesDennis_web" id="xcom" target="_blank"><img src="/Assets/Images/Icons/x-twitter-brands-solid-full (1).svg" alt="x.com profile" class="social-icon"></a>
                <a href="https://github.com/JamesDennisOrg" id="github" target="_blank"><img src="/Assets/Images/Icons/github-brands-solid-full (1).svg" alt="github profile" class="social-icon"></a>
                <a href="https://codepen.io/James-Dennis-Frontend-Developer" id="codepen" target="_blank"><img src="/Assets/Images/Icons/codepen-brands-solid-full (1).svg" alt="codepen profile" class="social-icon"></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright:</p>
    </div>
    <!-- Scroll To Top -->
    <!-- <div class="scroll-to-top-container" id="toTop">
        <a href="#top" onclick="lenis.scrollTo('#top')">
            <img class="scroll-to-top" src="/Assets/Fonts/Material-icons/Blue/vertical_align_top_30dp_0074A2_FILL0_wght400_GRAD0_opsz24.png" alt="scroll to top">
        </a>  
    </div> -->

    <div class="scroll-to-top-container" id="toTop">
        <a href="#top" id="toTopLink">
            <img class="scroll-to-top" src="/Assets/Fonts/Material-icons/Blue/vertical_align_top_30dp_0074A2_FILL0_wght400_GRAD0_opsz24.png" alt="scroll to top">
        </a>  
    </div>
</footer>