/* ==================== CONTACT PAGE & FORM ====================== */
.contact-page {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 2s;
}
.contact-form-container {
    max-width: 1200px;
    padding-block: var(--spacing-triple);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
    padding-inline: var(--spacing-half);
    text-align: center;
    .contact-container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 3rem;
        max-width: 1400px;
        margin: 0 auto;
        padding: .2rem;
        .form-container {
            .form-header {
                h3 {
                    font-size: 120%;
                    font-weight: 600;
                }
                p {
                    text-align: center;
                    max-width: 100%;
                }
            }
        }
    }
}
.contact-hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    .guarantee-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, var(--background), #2a9d8f);
        padding: var(--spacing-triple);
        border-radius: 12px;
        padding-bottom: var(--spacing-triple);
    }
}
.problem-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
    i {
        font-size: var(--font-x-large);
        color: var(--brand);
    }
    h4 {
        margin-top: 0;
    }
}
.testimonial-preview.card {
    background: linear-gradient(135deg, var(--surface) 50%, var(--brand) 100%)!important;
    border-radius: 10px!important;
    padding: 2.5rem;
    margin: 2rem 0;
    border: 1px solid #f1eef8!important;
    position: relative;
    /* overflow: hidden; */
    &::before {
        content:"‟";
        position: absolute;
        top: -20px;
        left: 0;
        height: 2rem;
        width: 2rem;
        color: #2a9d8f;
        font-size: 4rem;
    }
    p {
        font-family: 'Georgia', serif;
        height: max-content!important;
        text-align: left;
    }
    span {
        width: 100%;
        opacity: .4;
        text-align: left;
        font-size: var(--font-small);
    }
}
.form-wrapper {
    max-width: 800px;
}
.trust-indicators {
   margin-top: 1em; 
}